<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ポケモン図鑑クイズ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<br><br>
  <h2><img src="/img/001n.png" style="vertical-align: middle; height: 2.5em;">ポケモン図鑑クイズ<img src="/img/001n.png" style="vertical-align: middle; height: 2.5em;"></h2>

  <div class="quiz-start-button-wrapper">
  <form th:action="@{/startgame}" method="POST">
    <button type="submit" class="pokeball-button">
      <span class="button-text">スタート</span>
      <span class="center-circle"></span>
      <span class="black-line"></span>
    </button>
  </form>
</div>

<p> ※出題は初代151匹からです</p>

</body>
</html>